{% extends 'base.html.twig' %}

{% block page_title %}Mezzo QA{% endblock %}

{% block page_subtitle %}Metrics / Behat{% endblock %}

{% block page_content %}
    <div class="row">
        {% for service in project.services %}
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ service.name|upper }} - BEHAT</h3>
                    </div>
                    <div class="box-body">
                        <div class="chart">
                            <canvas id="chart-{{ project.redmineId }}-behat-{{ service.name }}"
                                    style="height: 125px; width: 394px;" width="394" height="125">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block javascripts_inline %}
    {{ parent() }}
    <script type="text/javascript">
        loadBehatCharts({{ json|raw }}, '{{ project.redmineId }}', {{ apps|json_encode()|raw }});
    </script>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/behat.js') }}"></script>
{% endblock %}
